
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="calorific">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title">Calorific</h1>
      </ion-header-bar>
      <ion-content>
  <div class="list">

    <div class="item item-divider" href="#">
      <img src="img/Sweet.jpg" width="150" height="150">
      <h2>Sweet</h2>
      <p>For Those With The Sweet Tooth</p>
    </div>

	 <a class="item" href="#">
   	 Chocolate
	<img src="img/Chocolate.jpg" class="img-responsive"  alt="Mountain View" style="width:75px;height:75px">
	<p> Chocolate Although delicious contains lots of calories be careful how much you eat </p> 
	 <label class="item item-input">
            <input type="number" ng-model="count" />
          </label>
          <button class="button button-small button-positive ion-arrow-up-a" align-title="left"  ng-click="count = count + 546">
            Per Chocolate Bar
          </button>

 	 </a>
	 <a class="item" href="#">
         Ice-Cream
	<img src="img/Icecream.jpg" class="img-responsive"  alt="Mountain View" style="width:75px;height:75px">
	<label class="item item-input">
            <input type="number" ng-model="count1" />
          </label>
          <button class="button button-small button-positive ion-arrow-up-a" align-title="left"  ng-click="count1 = count1 + 216">
            Per Ice Cream
          </button>

	  </a>

	 <a class="item" href="#">
         Crisps
	<img src="img/Crisps.jpg" class="img-responsive" alt="Mountain View" style="width:75px;height:75px">
	  <label class="item item-input">
            <input type="number" ng-model="count2" />
          </label>
          <button class="button button-small button-positive ion-arrow-up-a" align-title="left"  ng-click="count2 = count2 + 525">
            Per Pack
          </button>

         </a>


    <div class="item item-divider" href="#">
      <img src="img/Savory.jpg" width="75" height="75">
      <h2>Savoury</h2>
      <p>A Good Meal!!!</p>
    </div>

 	 <a class="item" href="#">
   	 Burger
	<img src="img/Burger.jpg" class="img-responsive" alt="Mountain View" style="width:75px;height:75px">

 	 <label class="item item-input">
            <input type="number" ng-model="count3" />
          </label>
          <button class="button button-small button-positive ion-arrow-up-a" align-title="left"  ng-click="count3 = count3 + 295">
            Per Burger
          </button>


 	 </a>
	 <a class="item" href="#">
         Curry and Rice
	<img src="img/Curry.jpg" class="img-responsive" alt="Mountain View" style="width:75px;height:75px">

	  <label class="item item-input">
            <input type="number" ng-model="count4" />
          </label>
          <button class="button button-small button-positive ion-arrow-up-a" align-title="left"  ng-click="count4 = count4 + 500">
            Per Serving
          </button>


         </a>
	 <a class="item" href="#">
         Pizza
	<img src="img/Pizza.jpg" class="img-responsive" alt="Mountain View" style="width:75px;height:75px">

	  <label class="item item-input">
            <input type="number" ng-model="count5" />
          </label>
          <button class="button button-small button-positive ion-arrow-up-a" align-title="left"  ng-click="count5 = count5 + 266">
            Per Pizza
          </button>


         </a>


</div>

  
      </ion-content>
<ion-footer-bar>
<div class="tabs tabs-icon-only">
  <a class="tab-item">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
</div>
</ion-footer-bar>
    </ion-pane>
  </body>
</html>
